# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# FastAPI / SQLAlchemy
alembic.ini.bak
sqlite.db
*.db

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/
docker-compose.override.yml
